#! General
NEXT_PUBLIC_APP_URL=""

#! Database
DATABASE_URL=""

#! Google Services
NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID=""

#! Auth.js
AUTH_SECRET=""
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

#! PocketBase
POCKETBASE_URL=""
POCKETBASE_ADMIN_EMAIL=""
POCKETBASE_ADMIN_PASSWORD=""
POCKETBASE_STORAGE_COLLECTION="shared_uploads"

#! Apify
APIFY_TOKEN=""
APIFY_INSTAGRAM_USERNAME="bekten_usubaliev"
APIFY_ACTOR_ID="apify/instagram-api-scraper"
APIFY_RESULTS_LIMIT="60"
